 .box {
    width: 200px;
    height: 100px;
    border: 2px dashed #7f1cf0; padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }

div {
  width:300px;
  margin:auto;
}

p {
  color: #7f1cf0;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

img {
  display: flex;
  width:200px ;
  height:200px;
  border-radius: 10px ;
  text-align: center;
}